<div class="row" style="margin-bottom: 15px;">
    <div class="col-lg-12">
        <h2 class="page-header">Subjects 
        </h2>
    </div>
</div>

<!--------ADD SUBJECT Start------------->

<div class="row" ng-if="permissionADDSUBJECT === 1">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left">Add Subject</h4>
        </div>
        <div class="panel-body">
            <form role="form" novalidate angular-validator name="addCustomerForm">
                <div class="">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <label class="control-label" for="standardCode">Code</label>
                                <input class="form-control" type="text" ng-model="newSubject.Code" name="code" id="code" placeholder="Code"
                                    validate-on="blur" required>
                                <span style="color: #a94442; font-weight: bold;" ng-if="vCode" ng-show="addCustomerForm.code.$error.required">Code is required</span>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <label class="control-label" for="standard">Subject Name</label>
                                <input type="text" class="form-control" ng-model="newSubject.Subject" name="name" id="name" placeholder="Subject Name"
                                    validate-on="blur" required>
                                <span style="color: #a94442; font-weight: bold;" ng-if="vName" ng-show="addCustomerForm.name.$error.required">Name is required</span>
                            </div>
                            <div class="col-md-2 col-sm-2  pull-right">
                                <div class="row">
                                    <label>Action</label>
                                </div>
                                <div class="row">
                                    <button id="btnAdd" type="button" class="btn btn-success" ng-if="!IsEditMode" ng-click="addSubject();">Add</button>
                                    <button id="Button1" type="button" class="btn btn-success" ng-if="IsEditMode" ng-click="updateSubject();">Update</button>
                                    <button type="button" class="btn btn-danger" ng-click="clearSubject();">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--------ADD Subject End------------->


<div class="row questionControl active">
    <div class="col-lg-12">
        <div class="row panel panel-default">
            <div class="panel-heading">
                <div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-center">
                        <input type="text" ng-model="SearchText.Code" class="form-control adv-code" placeholder="Search Subject Code" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-center">
                        <input type="text" ng-model="SearchText.Subject" class="form-control adv-question" placeholder="Search Subject Name" />
                    </div>
                </div>
                <div class="searchBlock active">
                    <a ng-click="clearSearch();" style="margin-left: 10px" class="btn btn-danger searchQuestion pull-right">Clear</a>
                    <a ng-click="search(0, SearchText);" class="btn btn-success searchQuestion pull-right"><i class="fa fa-fw fa-search"></i>Search</a>
                </div>
            </div>
            <!--questionList-->
            <div class="panel-body questionList">
                <div ng-repeat="subject in Subjects">
                    <div class="list-group">
                        <div class="questionItem">
                            <span class="questionCheck">
                                <input type="checkbox" ng-model="test.selected" ng-value="{{test.ID}}" ng-disabled="{{test.LockedBy != checkId && test.Lock != 0}}"></input>
                                <!--id="checkbox1"-->
                            </span>
                            <span class="questionDetail">
                                <label for="checkbox1" href="" class="list-group-item question">
                                    <h5>Code:<span class="questionCode">{{subject.Code}}</span>,
                            Subject:<span class="questionText">{{subject.Subject}}</span>
                                    </h5>
                                </label>
                            </span>
                            <div class="totalCount">
                                <span class="countText">Total Standards:</span> <span class="countValue">{{subject.StandardCount}}</span>
                            </div>
                            <span class="questionItemAction">
                                <a ng-click="editSubject(subject)" ng-if="permissionUPDATESUBJECT === 1" class="btn btn-primary edittestt pull-right" tooltip="Edit"><i class="fa fa-edit"></i></a>
                                <a ng-click="deleteSubject(subject.ID)" ng-if="permissionDELETESUBJECT === 1" class="btn btn-danger deleteQuestion pull-right" ng-disabled="disableDelete" tooltip="Delete"><i class="fa fa-trash"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page, SearchText);"></custom-pager>
            </div>
        </div>