<div id="sidebar" class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">

        <li class="active">
            <a ng-href="/Administration"><i class="fa fa-home fa-fw"></i>Home</a>
        </li>
        <li class="nav-divider"></li>
        <li><a ng-href="/Administration/configuration/"><i class="fa fa-gears fa-fw"></i>Configurations</a></li>
        <li class="nav-divider"></li>

        <li><a ng-href="/Administration/students/"><i class="fa fa-users fa-fw"></i>Students</a></li>
        <li><a ng-href="/Administration/students/register"><i class="fa fa-user-plus fa-fw"></i>Register Student</a></li>
        <li class="nav-divider"></li>
        <li><a ng-href="/Administration/login" ng-if="!userData.isUserLoggedIn"><i class="fa fa-sign-in fa-fw"></i>Login</a></li>
        <li><a ng-click="logout();" ng-if="userData.isUserLoggedIn"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>-->

        <li><a ng-href="/Library/page1/"><i class="fa fa-users fa-fw"></i>Library Page1</a></li>
        <li><a ng-href="/Library/page2/"><i class="fa fa-users fa-fw"></i>Library Page2</a></li>
        <li><a ng-href="/Library/page3/"><i class="fa fa-users fa-fw"></i>Library Page3</a></li>


        <!--<li class="active">
            <a href="#"><i class="fa fa-fw fa-dashboard"></i> School Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Administration</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-table"></i> Reports</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-edit"></i> Exams</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-desktop"></i> Activities</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-wrench"></i> Settings</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Annual Programs <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Sports Week</a>
                </li>
                <li>
                    <a href="#">Quiz Contest</a>
                </li>
            </ul>
        </li>-->

    </ul>
    
    <!--<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Home<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/configuration/">Configurations<i class="fa fa-gears fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>

            <li><a ng-href="#/students/">Students<i class="fa fa-users fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/students/register">Register Student<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
            <li><button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></a></li>-->
    <!--<li><a ng-href="#/customers/">Customers<i class="fa fa-users fa-fw pull-right"></i></a></li>
<li><a ng-href="#/customers/register">Register customer<i class="fa fa-user-plus fa-fw pull-right"></i></a></li>
<li class="nav-divider"></li>
<li><a ng-href="#/movies/">Movies<i class="fa fa-film fa-fw pull-right"></i></a></li>
<li><a ng-href="#/movies/add">Add movie<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
<li class="nav-divider"></li>
<li><a ng-href="#/rental/">Rental history<i class="fa fa-leanpub fa-fw pull-right"></i></a></li>
<li class="nav-divider"></li>-->
    <!--</ul>
    </div>
</div>-->

</div>