
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>School Admin Template</title>
    <link href="../Content/css/bootstrap.css" rel="stylesheet" />
    <link href="../Content/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="../Content/css/font-awesome.css" rel="stylesheet" />
    <link href="../Content/css/toastr.css" rel="stylesheet" />
    <link href="../Content/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="../Content/css/ag-grid.css" rel="stylesheet" />
    <link href="../Content/css/theme-fresh.css" rel="stylesheet" />
    <link href="../Content/css/select2.min.css" rel="stylesheet" />
    <link href="../Content/css/application.css" rel="stylesheet" />
    <link href="../administration/css/applicationAddQuestion.css" rel="stylesheet" />
    <link href="../administration/css/newApp.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="app-administration" ng-controller="administrationCtrl">
        <div>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div id="sidebar" class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li class="active">
                        <li class="nav-divider"></li>
                        <li><a href="../mainDashboard/MainDashboard.html"><i class="fa fa-home fa-fw"></i>Home</a></li>
                        <li><a ui-sref="AdminConfig"><i class="fa fa-gears fa-fw"></i>Configurations</a></li>
                        
                        <li class="nav-divider"></li>

                        <li><a ui-sref="AdminStandard" ng-if="permissionSTD === 1"><i class="fa fa-users fa-fw"></i>Standards</a></li>
                        <li><a ui-sref="AdminSubject" ng-if="permissionSUBJECT === 1"><i class="fa fa-user-plus fa-fw"></i>Subjects</a></li>
                        <li><a ui-sref="AdminMapping" ng-if="permissionSTDSUBMAP === 1"><i class="fa fa-users fa-fw"></i>Std Sub Map</a></li>
                        <li><a ui-sref="AdminTopic" ng-if="permissionTOPIC === 1"><i class="fa fa-user-plus fa-fw"></i>Topics</a></li>
                        <li><a ui-sref="AdminQuestion" ng-if="permissionQUESTION === 1"><i class="fa fa-user-plus fa-fw"></i>Questions</a></li>
                       
                        <li class="nav-divider"></li>
                        <li><a ui-sref="AdminTest"  ng-if="permissionTEST === 1"><i class="fa fa-user-plus fa-fw"></i>Tests</a></li>
                      
                       
                    </ul>
                </div>

                <top-bar></top-bar>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div id="main">
                        <div class="page {{pageClass}}" ui-view>
                            <div class="row">
                                <div class="panel panel-primary">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Administration</h4>
                                    </div>
                                    <div class="panel-body">
                                        <section class="content">
                                            <!-- Small boxes (Stat box) -->
                                            <div class="row">
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-aqua">
                                                        <div class="inner">
                                                            <h3>1</h3>
                                                            <p>Configuration</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-gears"></i>
                                                        </div>
                                                        <a ui-sref="AdminConfig" href="../system/configuration.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-blue" >
                                                        <div class="inner">
                                                            <h3>2</h3>
                                                            <p>Standards</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-university"></i>
                                                        </div>
                                                        <a ui-sref="AdminStandard" href="../administration/Administration.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-olive">
                                                        <div class="inner">
                                                            <h3>3</h3>
                                                            <p>Subjects</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-book"></i>
                                                        </div>
                                                        <a ui-sref="AdminSubject" href="../examination/exam.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-olive">
                                                        <div class="inner">
                                                            <h3>4</h3>
                                                            <p>Standard Subject Mapping</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-language"></i>
                                                        </div>
                                                        <a ui-sref="AdminMapping" href="../examination/exam.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-green">
                                                        <div class="inner">
                                                            <h3>5</h3>
                                                            <p>Topics</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-quote-left"></i>
                                                        </div>
                                                        <a ui-sref="AdminTopic" href="../library/Library.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-orange">
                                                        <div class="inner">
                                                            <h3>6</h3>
                                                            <p>Questions</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-question-circle"></i>
                                                        </div>
                                                        <a ui-sref="AdminQuestion" href="../library/Library.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-4">
                                                    <!-- small box -->
                                                    <div class="small-box bg-fuchsia">
                                                        <div class="inner">
                                                            <h3>7</h3>
                                                            <p>Tests</p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="fa fa-trophy"></i>
                                                        </div>
                                                        <a ui-sref="AdminTest" href="../library/Library.html" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                                    </div>
                                                </div><!-- ./col -->
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery.fancybox.js"></script>
    <script src="../js/jquery.fancybox-media.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/angular-route.js"></script>
    <script src="../js/angular-cookies.js"></script>
    <script src="../js/angular-validator.js"></script>
    <script src="../js/angular-base64.js"></script>
    <script src="../js/angular-file-upload.js"></script>
    <script src="../js/angucomplete-alt.min.js"></script>
    <script src="../js/angular-ui-router.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/toastr.js"></script>
    <script src="../js/ui-bootstrap-tpls-0.13.1.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/loading-bar.js"></script>
    <script src="../js/ag-grid.js"></script>
    <script src="../js/modernizr.js"></script>
    <script src="../js/select2.min.js"></script>

    <!-- Common scripts to be used accross -->
    <script src="../common/common.core.js"></script>
    <script src="../common/common.ui.js"></script>
    <script src="../common/services/apiService.js"></script>
    <script src="../common/services/fileUploadService.js"></script>
    <script src="../common/services/membershipService.js"></script>
    <script src="../common/services/permissionService.js"></script>
    <script src="../common/services/constantStrService.js"></script>
    <script src="../common/services/dataProviderService.js"></script>
    <script src="../common/services/dataProviderService.js"></script>
    <script src="../common/services/notificationService.js"></script>
    <script src="../common/services/apiLocationService.js"></script>
    
    <script src="../common/layout/topBar.directive.js"></script>
    <script src="../common/layout/topBarCtrl.js"></script>
    <script src="../common/layout/customPager.directive.js"></script>
    
    <script src="../account/js/loginCtrl.js"></script>
    <script src="../account/js/registerCtrl.js"></script>
    

    <script src="../administration/app-administration.js"></script>
    <script src="../administration/administrationCtrl.js"></script>
    <script src="../administration/js/standardCtrl.js"></script>
    <script src="../administration/js/subjectCtrl.js"></script>
    <script src="../administration/js/configurationCtrl.js"></script>
    <script src="../administration/js/questionCtrl.js"></script>
    <script src="../administration/js/ssMappingCtrl.js"></script>
    <script src="../administration/js/topicCtrl.js"></script> 
    <script src="../administration/js/questions.js"></script>
    <script src="../administration/js/addQuestionCtrl.js"></script>
    <script src="../administration/js/testCtrl.js"></script>
    <script src="../administration/js/addTestCtrl.js"></script>
    <script src="../administration/js/poolCtrl.js"></script>
    <script src="../administration/js/addPoolCtrl.js"></script>
    <script src="../administration/js/addQuestionPoolCtrl.js"></script>
    <script src="../administration/js/viewQuestionPoolCtrl.js"></script>
    <script src="../administration/js/generatePaperCtrl.js"></script>
    <script src="../administration/js/displayPaperCtrl.js"></script>
</body>
</html>
    <!--<script src="../administration/js/configurationCtrl.js"></script>
    <script src="/js/editStandardCtrl.js"></script>
    <script src="/js/questionCtrl.js"></script>
    <script src="/js/ssMappingCtrl.js"></script>-->
    <!--<script src="js/subjectCtrl.js"></script>
    <script src="/js/topicCtrl.js"></script>-->
