<div class="row" style="margin-bottom: 15px;">
    <div class="col-lg-12">
        <h2 class="page-header">Permission
        </h2>
    </div>
</div>


<div class="row questionControl active">
    <div class="col-lg-12">
        <div class="row panel panel-default">
            <div class="panel-heading">
                <div>
                       <div class="col-lg-2 col-md-2 col-xs-2 text-center">
                       <select class="form-control adv-type" ng-model="SearchText.RoleID" ng-options="option.ID as option.Name for option in UserRoles"
                           ng-click="advancedSearch(0, SearchText);">
                    <option value="" selected></option>
                </select>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-center" ng-hide="true">
                       <select class="form-control adv-type" ng-model="SearchText.FormID" ng-options="option.FormID as option.Name for option in Forms">
                    <option value="" selected>Select Form</option>
                </select>
                    </div>

                </div>
                <div class="searchBlock active" ng-hide="true">
                    <a ng-click="clearSearch();" style="margin-left: 10px" class="btn btn-danger searchQuestion pull-right">Clear</a>
                    <a ng-click="search(0, SearchText);" class="btn btn-success searchQuestion pull-right"><i class="fa fa-fw fa-search"></i>Search</a>
                </div>
            </div>
            <!--questionList-->
            <div class="panel-body questionList">
                <div ng-repeat="permission in Permissions">
                    <div class="list-group">
                        <div class="questionItem">

                            <span class="questionDetail">
                                <label for="checkbox1" href="" class="list-group-item question">
                                    <h5>Role:<span class="questionCode">{{permission.sRole}}</span>,
                                        Form:<span class="questionText">{{permission.sForm}}</span>,
                                        <table>
                                            <tr>
                                                <td ng-repeat="action in permission.APVMList" style="padding: 5px;">{{action.Action}}
                                                   
                                                    <span class="questionCheck">
                                                        <input type="checkbox"  ng-checked="{{action.Permission}}" ng-click="permissionClicked(permission,action)"></input>

                                                    </span>
                                                </td>
                                                
                                                 
                                            </tr>
                                            
                                        </table>

                                    </h5>
                                </label>
                            </span>

         
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div>
                <a ng-click="" class="btn btn-danger pull-right">Cancel</a>
            </div>
            <div>
                <a ng-click="savePermission();" style="margin-right: 10px;" class="btn btn-success pull-right"><i class="fa fa-fw fa-plus-circle"></i>Save</a>
            </div>

            <div class="text-center" ng-hide="true">
                <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page, SearchText);"></custom-pager>
            </div>

        </div>

    </div>

</div>
